.img-css{
    height: 100px;
    width: 90px;
    
}
.cart-design{
    background-image: linear-gradient(to right, rgba(255, 175, 223, 0.623), rgba(20, 113, 199, 0.322));
}
/* .cart-design:hover{
    transform: scale(1.2);
    transition: 2s;
} */
